/meta-api/vendor/
/meta-api/node_modules/
/meta-vue/node_modules/
/meta-api/.idea
/meta-vue/.idea
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
/meta-api/public/storage
/meta-api/public/hot

# Laravel 5 & Lumen specific with changed public path
/meta-api/public_html/storage
/meta-api/public_html/hot

/meta-api/storage/*.key
/meta-api/.env
/meta-api/Homestead.yaml
Homestead.json
/.vagrant
/meta-api/.phpunit.result.cache
